* {
	margin: 0;
	font-family: roboto, san-serif;
}

body {
	margin: 0;
	height: 100vh;
}
a {
	color: #23C6A3;
	text-decoration: underline;
}
h3 {
  font-size: 16px;
}

.wrapper {
	background-image: url(bg.png);
	background-size: cover;
	height: 100%;
  max-width: 1440px;
}

#voip {
  color: #afaeae;
}

.notification {
	display: none;
	background: #4E4D4B;
	padding: 15px;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	position: relative;
	right: 0px;
	margin: 10px;
	transition: 0.3s;
	background-image: url(blur.png);
	background-size: 60px;
	background-position: 90%;
	background-repeat: no-repeat;
}

#usecases {
	display: none;
}

.live {
	margin: 10px;
	background: #4E4D4B;
  opacity: 0.95;
	color: white;
	border-radius: 10px;
	max-height: 200px;
}

#livecall {
	display: none;
}

#result {
	max-height: 95px;
  overflow: auto;
  padding: 0px;
}

#result::-webkit-scrollbar {
  display: none;
}

#result p {
	line-height: 25px;
}

#result p:not(.final) {
	display: inline;
}

.callbtn {
	background-image: url(phone.svg);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 15px;
	width: 25px;
	height: 25px;
	position: absolute;
  left: 558px;
  top: 12px;
  cursor: pointer;
}

#progressCall {
  background-image: url(phone.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  border-radius: 15px;
  width: 25px;
  height: 25px;
  left: 9px;
  filter: grayscale(1);
  position: absolute;
  filter: grayscale(1);
}

.btnholder {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#recording {
  display: none;
}

#transcription {
  display: none;
  padding: 0 5px;
  background: #4E4D4B;
  position: absolute;
  font-size: 10px;
  color: grey;
  left: 126px;
  top: 94px;
}

/*SPEECH STUFF*/
.holder {
	position: absolute;
	right: 0;
	width: 350px;
}

header {
  border-bottom: 1px solid #0d122b;
  margin-bottom: 2em;
}
main {
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 2em;
  padding-top: 4em;
  text-align: center;
}
@keyframes bg-pulse {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: #c7ecee;
  }

  100% {
    backgrouond-color: #fff;
  }
}
main.speaking {
  animation: bg-pulse 1.5s alternate ease-in-out infinite;
}
.speaking {
  padding: 7px 5px !important;
}
#result {
  color: #9e9e9e;
  text-align: center;
}
#result .final {
  color: white;
  font-style: normal;
}
button {
  font-size: 18px;
  font-weight: 200;
  padding: 1em;
  width: 40px;
  background: transparent;
  background-image: url(phonegreen.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  border: 2px solid #20c186;
  border-radius: 45px;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  color: #20c186;
  margin: 25px;
}
button:hover,
button:focus {
  outline: none;
}

.error {
  color: #f22f46;
  text-align: center;
}
footer {
  border-top: 1px solid #0d122b;
  text-align: center;
}
/*Call wave in progress animation*/
#wave {
  display: none;
}
@keyframes wave-grow {
  0% { r: 2; opacity: 0; }
  15% { opacity: 0;}
  85% { opacity: 0.8;}
  100% { r: 20; opacity: 0; }
}

.circle-wave {
  top: 700px;
  left: 667px;
  width: 180px;
  height: 25px;
  border-radius: 15px;
  position: absolute;
  display: inline-block;
  background: #EBEBEB;
  color: #787878;
  border: 1px solid #d0d0d0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.circle-wave svg {
  position: relative;
}

.circle-wave circle {
  fill: transparent;
  stroke: #b3b3b3;
  animation: wave-grow 3s linear 0s infinite;
}

.circle-wave p {
  font-weight: 500;
}

