@font-face {
  font-family: 'Roboto', sans-serif;
}

* {
	margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
	margin: 0;
	height: 100vh;
}
a {
	color: #23C6A3;
	text-decoration: underline;
  font-family: 'Roboto', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
}
h3 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.framer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.wrapper {
/*	background-image: url(bg.png);
	background-size: cover;*/
	height: 100%;
  width: 100%;
/*  max-width: 1440px;*/
}

#voip {
  color: #afaeae;
}

.notification {
	display: none;
	background: #4E4D4B;
	padding: 15px;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	position: relative;
	right: 0px;
	margin: 10px;
	transition: 0.3s;
	background-image: url(blur.png);
	background-size: 60px;
	background-position: 90%;
	background-repeat: no-repeat;
  animation: ease-in;
}

.interest {
  background: #2c4624 !important;
}

.meeting {
  display: none;
  background: #002342;
  padding: 15px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  position: relative;
  right: 0px;
  margin: 10px;
  transition: 0.3s;
  background-size: 60px;
  background-position: 90%;
  background-repeat: no-repeat;
}

#usecases {
	display: none;
}

#divisionpopup {
  width: 725px !important;
  left: 350px !important;
}

.live {
	margin: 10px;
	background: #4E4D4B;
  opacity: 0.95;
	color: white;
	border-radius: 10px;
	max-height: 200px;
}

#livecall {
	display: none;
}

#result {
	max-height: 95px;
  overflow: auto;
  padding: 0px;
}

#result::-webkit-scrollbar {
  display: none;
}

#result p {
	line-height: 25px;
}

#result p:not(.final) {
	display: inline;
}

.callbtn {
	background-image: url(phone.svg);
	background-repeat: no-repeat;
	background-position: center;
  background-color: white;
	border-radius: 20px;
	width: 35px;
	height: 35px;
	position: absolute;
  right: 20px;
  top: 8px;
  cursor: pointer;
}

.callbtn:hover {
  box-shadow: 0px 2px 9px 0px #afafaf;
}

#inventory {
  width: 600px;
  height: 400px;
  left: 30%;
}

.dataholder {
  display: flex;
  flex-direction: row;
}

.datacard {
  margin: 15px 5px;
  width: 200px;
  height: 50px;
  border-left: 3px solid #4CAF50;
  padding: 10px;
  background: white;
  box-shadow: 0 2px 9px 0px #e6e6e6;
} 

#c-interest {
  border-left: 3px solid grey;
}

.textBtnHolder {
  display: flex;
  justify-content: center;
}

#msg-tag {
  display: none;
  padding: 2px 13px;
  font-size: 12px;
  background: #ECECEC;
  color: #ED5D1E;
  border-radius: 3px;
  position: absolute;
  left: 49px;
  top: 264px;
}

.viaTextBtn {
  background: #4D5FF6;
  padding: 9px 15px;
  color: white;
  width: 200px;
  text-align: center;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.popup {
  display: none;
  position: absolute;
  left: 35%;
  top: 150px;
  width: 500px;
  height: 500px;
  box-shadow: 0 2px 15px 8px #0000002e;
  border-radius: 5px;
  background: #fafafa;
}
.header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
  background: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.headerTitle {
  width: 100%;
  text-align: center;
}

.closePopupBtn {
  text-align: right;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-image: url(xicon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  overflow: auto;
  max-height: 458px;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  background: #fafafa;
}

.performance {
  position: absolute;
  bottom: 15px;
  right: 20px;
  color: #828282;
}

#progressCall {
  background-image: url(phone.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  border-radius: 15px;
  width: 25px;
  height: 25px;
  left: 9px;
  filter: grayscale(1);
  position: absolute;
  filter: grayscale(1);
}

.btnholder {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#recording {
  display: none;
}

#transcription {
  display: none;
  padding: 0 5px;
  background: #4E4D4B;
  position: absolute;
  font-size: 10px;
  color: grey;
  left: 126px;
  top: 94px;
}

/*SPEECH STUFF*/
.holder {
	position: absolute;
	right: 0;
	width: 350px;
}

header {
  border-bottom: 1px solid #0d122b;
  margin-bottom: 2em;
}
main {
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 2em;
  padding-top: 4em;
  text-align: center;
}
@keyframes bg-pulse {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: #c7ecee;
  }

  100% {
    backgrouond-color: #fff;
  }
}
main.speaking {
  animation: bg-pulse 1.5s alternate ease-in-out infinite;
}
.speaking {
  padding: 7px 5px !important;
}
#result {
  color: #9e9e9e;
  text-align: center;
}
#result .final {
  color: white;
  font-style: normal;
}
button {
  font-size: 18px;
  font-weight: 200;
  padding: 1em;
  width: 40px;
  background: transparent;
  background-image: url(phonegreen.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  border: 2px solid #20c186;
  border-radius: 45px;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  color: #20c186;
  margin: 25px;
}
button:hover,
button:focus {
  outline: none;
}

.error {
  color: #f22f46;
  text-align: center;
}
footer {
  border-top: 1px solid #0d122b;
  text-align: center;
}
/*Call wave in progress animation*/
#wave {
  display: none;
}
@keyframes wave-grow {
  0% { r: 2; opacity: 0; }
  15% { opacity: 0;}
  85% { opacity: 0.8;}
  100% { r: 20; opacity: 0; }
}

.circle-wave {
  top: 700px;
  left: 46%;
  width: 180px;
  height: 25px;
  border-radius: 15px;
  position: absolute;
  display: inline-block;
  background: #EBEBEB;
  color: #787878;
  border: 1px solid #d0d0d0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.circle-wave svg {
  position: relative;
}

.circle-wave circle {
  fill: transparent;
  stroke: #b3b3b3;
  animation: wave-grow 3s linear 0s infinite;
}

.circle-wave p {
  font-weight: 500;
}

.scriptItems {
  display: flex;
  margin-bottom: 10px;
}

#checkOne {
  display: none;
}
#checkTwo {
  display: none;
}
#checkThree {
  display: none;
}


.checkmark-circle {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.checkmark-circle .background {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2EB150;
  position: absolute;
}
.checkmark-circle .checkmark {
  border-radius: 5px;
}
.checkmark-circle .checkmark.draw:after {
  -webkit-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  animation-delay: 200ms;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-name: checkmark;
  -moz-animation-name: checkmark;
  animation-name: checkmark;
  -webkit-transform: scaleX(-1) rotate(135deg);
  -moz-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  -o-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.checkmark-circle .checkmark:after {
  opacity: 0.1;
  height: 20px;
  width: 5px;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  border-right: 3px solid white;
  border-top: 3px solid white;
  border-radius: 1px !important;
  content: '';
  left: 4px;
  top: 13px;
  position: absolute;
}

@-webkit-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }
  20% {
    height: 0;
    width: 5px;
    opacity: 1;
  }
  40% {
    height: 12px;
    width: 5px;
    opacity: 1;
  }
  100% {
    height: 12px;
    width: 5px;
    opacity: 1;
  }
}

